@model SysIPetUI.Models.ServicoViewModel

@{
    ViewData["Title"] = "Serviços Disponíveis ao Cliente";
}

<div class="wrapper">

    <div class="content-wrapper">

        <!-- Cabeçalho do Conteúdo da Página -->
        <div class="content-header">

            <div class="container-fluid">

                <!-- Conteúdo da Página -->
                <!-- Main content -->
                <section class="content">

                    <div class="container-fluid">

                        <!--Main Row-->
                        <div class="row">

                            <!-- Divisão da Pág Lado Esquerdo -->
                            <section class="col-lg-7 connectedSortable">

                                <div class="card">

                                    <div class="card-header border-0">

                                        <h3 class="card-title">

                                            <span class="brand-text font-weight-light">
                                                <b class="text-gray"><i class="fas fa-tools"></i> @ViewData["Title"]</b>
                                            </span>

                                        </h3>

                                    </div>

                                    <div class="card-body">

                                        <table class="table table-hover">

                                            <thead>

                                                <tr>
                                                    <th></th>
                                                    <th>Serviço</th>
                                                    <th>Descrição dos Servicos</th>
                                                    <th>Preço R$</th>
                                                </tr>

                                            </thead>

                                            <tbody>

                                                @foreach (var item in Model.ServicoList)
                                                {
                                                    <tr>
                                                        <td title="Marque se deseja Prestar esse Serviço.">
                                                            @Html.CheckBoxFor(modelItem => item.Ativo)
                                                            @Html.HiddenFor(modelItem => item.Servico_Id)
                                                            @Html.HiddenFor(modelItem => item.Prestador_Id)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Nome)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Descricao)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Valor)
                                                        </td>
                                                        @*<td>
                                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                        </td>*@
                                                    </tr>
                                                }

                                            </tbody>

                                        </table>

                                    </div>

                                </div>

                            </section>

                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}