@model SysIPetUI.Models.AgendamentoViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AgendamentoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Cliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.PrestadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.PrestadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.Prestador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Prestador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.Data_Agenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Data_Agenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.Data_Cancelamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Data_Cancelamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.Data_Cadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Data_Cadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda.Servicos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda.Servicos)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
