@model IEnumerable<SysIPetUI.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Cadastro Cliente";
}

<div class="wrapper">

    <div class="content-wrapper">

        <!-- Cabeçalho do Conteúdo da Página -->
        <div class="content-header">

            <div class="container-fluid">

                <!-- Conteúdo da Página -->
                <!-- Main content -->
                <section class="content">

                    <div class="container-fluid">

                        <!--Main Row-->
                        <div class="row">

                            <!-- Divisão da Pág Lado Esquerdo -->
                            <section class="col-lg-12 connectedSortable">

                                <div class="card">

                                    <div class="card-header border-0">

                                        <h3 class="card-title">

                                            <span class="brand-text font-weight-light">
                                                <b class="text-gray"><i class="fas fa-tools"></i> @ViewData["Title"]</b>
                                            </span>

                                        </h3>

                                        <div class="card-tools">

                                            <button type="button"
                                                    class="btn btn-tool"
                                                    data-toggle="ajax-modal"
                                                    data-target="#modalIncluirCliente"
                                                    data-url="@Url.Action("CreateCliente")">
                                                <i class="fas fa-plus-circle" title="Adicionar Cadastro"></i>
                                            </button>

                                        </div>

                                    </div>

                                    <div class="card-body">

                                        <table class="table table-hover">

                                            <thead>                                                

                                                <tr>
                                                    <th>
                                                        Nome Completo
                                                    </th>
                                                    <th>
                                                        CPF
                                                    </th>
                                                    <th>
                                                        Data Nascimento
                                                    </th>
                                                    <th>
                                                        Telefone 01
                                                    </th>
                                                    <th>
                                                        WhatsApp
                                                    </th>
                                                    <th>
                                                        Telefone 02
                                                    </th>
                                                    <th></th>
                                                </tr>

                                            </thead>

                                            <tbody class="todo-list" data-widget="todo-list">
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NomeCompleto)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CPF)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DataNascimento)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Telefone1)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.WhatsApp)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Telefone2)
                                                        </td>
                                                        @*<td>
                                                            <a asp-action="EditCliente" asp-route-id="@item.Id">Edit</a> |
                                                            <a asp-action="ExcluirCliente" asp-route-id="@item.Id">Delete</a>
                                                        </td>*@
                                                        <td>

                                                            <!-- Ferramentas gerais, como editar ou excluir-->
                                                            <span class="tools">

                                                                <button type="button"
                                                                    class="btn btn-tool"
                                                                    data-toggle="ajax-modal"
                                                                    data-target="#modalEditarCliente"
                                                                    data-url="@Url.Action("EditCliente", new { id = @item.Id })">
                                                                    <i class="btn-tool fas fa-edit" title="Editar Lançamento"></i>
                                                                </button>

                                                                <button type="button"
                                                                    class="btn btn-tool"
                                                                    data-toggle="ajax-modal"
                                                                    data-target="#modalExcluirCliente"
                                                                    data-url="@Url.Action("ExcluirCliente", new { id = @item.Id })">
                                                                    <i class="btn-tool fas fa-trash-alt" title="Excluir Lançamento"></i>
                                                                </button>                                                                                                                                

                                                            </span>

                                                        </td>

                                                    </tr>
                                                }

                                            </tbody>

                                        </table>

                                    </div>

                                    <!-- Gerenciar Conta -->
                                    <div class="col-md-auto text-right">
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index"><p>Voltar para minha Conta</p></a>
                                    </div>                                    

                                </div>

                            </section>

                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>

</div>

<!-- Incluir Cadastro -->
<div id="modalIncluirCliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">

        <!-- Partial View Load Dynamically -->
        <div id="conteudoModal" class="modal-content">
        </div>

    </div>

</div>

<!-- Editar Cadastro -->
<div id="modalEditarCliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">

        <!-- Partial View Load Dynamically -->
        <div id="conteudoModal" class="modal-content">
        </div>

    </div>

</div>

<!-- Excluir Cadastro -->
<div id="modalExcluirCliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">

        <!-- Partial View Load Dynamically -->
        <div id="conteudoModal" class="modal-content">
        </div>

    </div>

</div>