@model SysIPetUI.Models.PetsListViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PetsViewModel</h4>
    <hr />
    @for (int i = 0; i < Model.PetsList.Count; i++)
    {
        @Html.HiddenFor(model => model.PetsList[i].Id)

        <dl class="row">
            <dt class="col-sm-2">
                Nome:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].NomeCompleto)
            </dd>
            <dt class="col-sm-2">
                Tipo Pet:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].TipoPetNome)
            </dd>
            <dt class="col-sm-2">
                Tamanho:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].TamanhoPetNome)
            </dd>
            <dt class="col-sm-2">
                Peso:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].Peso)
            </dd>
            <dt class="col-sm-2">
                Genero Pet:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].GeneroPetNome)
            </dd>
            <dt class="col-sm-2">
                Cor:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].Cor)
            </dd>
            <dt class="col-sm-2">
                Data Nascimento:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].DataNascimento)
            </dd>
            <dt class="col-sm-2">
                Raça:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => modelItem.PetsList[i].Raca)
            </dd>
        </dl>
        <div>
            <a asp-action="EditPet" asp-route-id="id = @Model.PetsList[i].Id">Edit1</a> |            
            <a asp-action="Index">Back to List</a>
        </div>
    }
</div>