@model SysIPetUI.Models.PrestadorViewModel

@{
    ViewData["Title"] = "Casdastro Prestador";
}

<div class="wrapper">

    <div class="content-wrapper">

        <!-- Cabeçalho do Conteúdo da Página -->
        <div class="content-header">

            <div class="container-fluid">

                <!-- Conteúdo da Página -->
                <!-- Main content -->
                <section class="content">

                    <div class="container-fluid">

                        <!--Main Row-->
                        <div class="row">

                            <!-- Divisão da Pág Lado Esquerdo -->
                            <section class="col-lg-12 connectedSortable">

                                <div class="card">

                                    <div class="card-header border-0">

                                        <h3 class="card-title">                                                                                      
                                                                                        
                                            <span class="brand-text font-weight-light">
                                                <b class="text-gray"><i class="fas fa-tools"></i> @ViewData["Title"]</b>
                                            </span>                                           

                                        </h3>

                                        <div class="card-tools">

                                            <button type="button"
                                                    class="btn btn-tool"
                                                    data-toggle="ajax-modal"
                                                    data-target="#modalIncluirPrestador"
                                                    data-url="@Url.Action("CreatePrestador")">
                                                <i class="fas fa-plus-circle" title="Adicionar Novo Prestador"></i>
                                            </button>

                                        </div>

                                    </div>

                                    <div class="card-body">

                                        <table class="table table-hover">

                                            <thead>
                                                <tr>
                                                    <th>
                                                        Nome
                                                    </th>
                                                    <th>
                                                        CPF-CNPJ
                                                    </th>
                                                    <th>
                                                        Telefone
                                                    </th>
                                                    <th>
                                                        Logradouro
                                                    </th>
                                                    <th>
                                                        Bairro
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            <tbody class="todo-list" data-widget="todo-list">

                                                @if (Model.PrestadorList.Count > 0) 
                                                {
                                                    @for (int i = 0; i < Model.PrestadorList.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.PrestadorList[i].NomeCompleto)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.PrestadorList[i].CPF_CNPJ)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.PrestadorList[i].Telefone)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.PrestadorList[i].Logradouro)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => modelItem.PrestadorList[i].Bairro)
                                                            </td>

                                                            <td>

                                                                <!-- Ferramentas gerais, como editar ou excluir-->
                                                                <span class="tools">

                                                                    <button type="button"
                                                                    class="btn btn-tool"
                                                                    data-toggle="ajax-modal"
                                                                    data-target="#modalEditarPrestador"
                                                                    data-url="@Url.Action("EditPrestador", new { id = @Model.PrestadorList[i].Id })">
                                                                        <i class="btn-tool fas fa-edit" title="Editar Lançamento"></i>
                                                                    </button>

                                                                    <button type="button"
                                                                    class="btn btn-tool"
                                                                    data-toggle="ajax-modal"
                                                                    data-target="#modalExcluirPrestador"
                                                                    data-url="@Url.Action("ExcluirPrestador", new { id = @Model.PrestadorList[i].Id })">
                                                                        <i class="btn-tool fas fa-trash-alt" title="Excluir Lançamento"></i>
                                                                    </button>

                                                                </span>

                                                            </td>

                                                        </tr>
                                                    }
                                                }                                                

                                            </tbody>

                                        </table>

                                    </div>

                                    <!-- Gerenciar Conta -->
                                    <div class="col-md-auto text-right">
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index"><p>Voltar para minha Conta</p></a>
                                    </div>

                                </div>

                            </section>

                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>

</div>

<!-- Incluir Prestador -->
<div id="modalIncluirPrestador" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">

        <!-- Partial View Load Dynamically -->
        <div id="conteudoModal" class="modal-content">
        </div>

    </div>

</div>

<!-- Editar Prestador -->
<div id="modalEditarPrestador" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">

        <!-- Partial View Load Dynamically -->
        <div id="conteudoModal" class="modal-content">
        </div>

    </div>

</div>

<!-- Excluir Prestador -->
<div id="modalExcluirPrestador" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">

        <!-- Partial View Load Dynamically -->
        <div id="conteudoModal" class="modal-content">
        </div>

    </div>

</div>