<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />    
        <title translate="no">@ViewData["Title"] - Sys | iPet's</title>
        <link rel="icon" href="~/favicon_iPet_Logo-removebg.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"  />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css" />
        <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css">
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">    
        <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.css">
        <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.css">
    </head>

    <body class="hold-transition sidebar-collapse layout-navbar-fixed layout-fixed">

        <div class="wrapper">

            <!-- Barra de navegação Sup horizontal a esquerda -->
            <nav class="main-header navbar navbar-expand navbar-cyan border-0 navbar-light elevation-1">

                <!-- Home, Prestador e Privacy -->
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Prestador" asp-action="Index">Prestador</a>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
                    </li>

                </ul>

                <!-- Barra de navegação Sup horizontal a direita -->
                <ul class="navbar-nav ml-auto">               

                    <!-- Dark Mode-->
                    <li class="nav-item">

                        <a id="buttonDarkMode" class="nav-link" href="#" role="button">
                            <i class="fas fa-moon" title="Dark Mode" aria-hidden="true"></i>
                        </a>

                        <a id="buttonLightMode" style="display:none" class="nav-link" href="#" role="button">
                            <i class="fas fa-sun" title="Light Mode" aria-hidden="true"></i>
                        </a>

                    </li>

                    <!-- Menu de Conta do usuário -->
                    <li class="nav-item dropdown user-menu">

                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">

                            <!-- Imagem de login padrão -->
                            <img src="~/lib/image/user_accept.png"
                                 class="user-image img-circle elevation-2"
                                 alt="User Image"                             
                                 aria-hidden="true">
                        </a>

                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                            <!-- Imagem de login padrão -->
                            <li class="user-header">

                                <img src="~/lib/image/user_accept.png" class="img-circle elevation-2" alt="User Image">
                                @*<p><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a></p>*@

                            </li>

                            <!-- Corpo do Menu de Conta do usuário -->
                            <li class="user-body">

                                <div class="row">

                                    <div class="col-4 text-center">
                                        <a href="#">Seguidores</a>
                                    </div>

                                    <div class="col-4 text-center">
                                        <a href="#">Vendas</a>
                                    </div>

                                    <div class="col-4 text-center">
                                        <a href="#">Amigos</a>
                                    </div>

                                </div>

                            </li>

                            <!-- Rodapé do Menu de Conta do usuário-->
                            <li class="user-footer">
                                <a href="#" class="btn btn-success btn-flat">Conta</a>
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-primary btn-flat float-right">Sair</a>
                            </li>                        

                        </ul>

                    </li>

                </ul>
            
            </nav>

            <!-- Menu hamburguer a esquerda -->
            <aside class="main-sidebar sidebar-light-yellow elevation-2">

                <a href="@Url.Action("Index","Home")" class="brand-link" title="Ir para Home">

                    <!--Logo IPet-->
                    <img src="~/lib/image/iPet_Logo-removebg.png" alt="IPet" width="60">

                    <span class="brand-text font-weight-light">

                        <i class="text-yellow" translate="no">i</i>
                        <i class="text-blue" translate="no">Pet's</i>

                    </span>

                </a>

                <!-- Itens do Menu -->
                <div class="sidebar">

                    <nav class="mt-5">

                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                            <!-- Home -->
                            <li class="nav-item">

                                <a href="@Url.Action("Index","Home")" class="nav-link">
                                    <!--<i class="nav-icon fas fa-home"></i>-->
                                    <p>Home</p>
                                </a>

                            </li>

                            <!-- iPet's Business - Lista de Páginas -->
                            <li class="nav-item">

                                <a href="#" class="nav-link active">
                                    <!--<i class="nav-icon fas fa-tools"></i>-->
                                    <p>
                                        iPet's Business
                                        <i class="right fas fa-angle-left"></i>
                                    </p>

                                </a>

                                <!-- Árvore -->
                                <ul class="nav nav-treeview">

                                    <li class="nav-item">

                                        <a href="@Url.Action("Index", "Prestador")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Prestador</p>
                                        </a>

                                    </li>

                                    <!-- Adicionar demais itens da árvore aqui-->

                                </ul>

                            </li>

                            <!-- Gerenciar Conta -->
                            <li class="nav-item">

                                <a href="#" class="nav-link">
                                    <!--<i class="nav-icon fas fa-address-card"></i>-->
                                    <p>Gerenciar sua Conta</p>
                                </a>

                            </li>

                            <!-- Privacy -->
                            <li class="nav-item">

                                <a href="@Url.Action("Privacy", "Home")" class="nav-link">
                                    <!--<i class="nav-icon fas fa-folder"></i>-->
                                    <p>Política de Privacidade</p>
                                </a>

                            </li>

                            <!-- Sair -->
                            <li class="nav-item">

                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">
                                    <!--<i class="nav-icon fas fa-sign-out-alt"></i>-->
                                    <p>Sair</p>
                                </a>

                            </li>

                        </ul>

                    </nav>

                </div>

            </aside>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="main-footer">

                <div class="d-md-block" style="text-align:center">                

                    <p class="comment-text">

                        <a class="text-gray" translate="no"><i>Sys iPet's</i> | Copyright &copy; 2022 - @DateTime.Now.Year | </a>
                        <a href="@Url.Action("Privacy","Home")" class="btn-link text-cyan">Política de Privacidade</a>
                    </p>

                </div>

            </footer>

            <!-- SCRIPTS NECESSÁRIOS -->

            <!-- jQuery -->
            <script src="~/lib/jquery/dist/jquery.min.js"></script>

            <!-- jQuery UI 1.11.4 -->
            <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

            <!-- Resolve o conflito na dica de ferramenta jQuery UI com dica de ferramenta Bootstrap -->
            <script>$.widget.bridge('uibutton', $.ui.button)</script>

            <!-- Bootstrap -->
            <script src="~/lib/bootstrap-4/js/bootstrap.js"></script>

            <!-- DataTables -->
            <script src="~/lib/datatables/jquery.dataTables.js"></script>
            <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>
            <script src="~/lib/datatables-responsive/js/dataTables.responsive.js"></script>
            <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.js"></script>
            <script src="~/lib/datatables-buttons/js/dataTables.buttons.js"></script>
            <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.js"></script>
            <script src="~/lib/datatables-buttons/js/buttons.html5.js"></script>
            <script src="~/lib/datatables-buttons/js/buttons.print.js"></script>
            <script src="~/lib/datatables-buttons/js/buttons.colVis.js"></script>

            <!-- Moment -->
            <script src="~/lib/moment/moment.min.js"></script>

            <!-- Tempusdominus Bootstrap 4 -->
            <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

            <!-- Summernote -->
            <script src="~/lib/summernote/summernote-bs4.min.js"></script>

            <!-- Ekko Lightbox -->
            <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js"></script>

            <!-- Toastr -->
            <script src="~/lib/toastr/toastr.min.js"></script>        

            <!-- JavaScript do Site -->
            <script src="~/js/site.js"></script>

            <!-- Functions -->
            @*<script src="~/lib/function/js/functionsApp.js"></script>*@

            <script type="text/javascript">

                //----------------------------------------------------------------------
                //-- Função Exibir Modal -----------------------------------------------
                //----------------------------------------------------------------------
                $('button[data-toggle="ajax-modal"]').click(function (event) {

                    var url = $(this).data('url');

                    $("#conteudoModal").load(url,
                        function () {

                            $('#modalIncluirPrestador').modal('show');

                        }
                    );
                });

                //------------------------------------------------------------------
                // Dark Mode
                //------------------------------------------------------------------
                //Mostrar Ocultar Botão click
                $('#buttonDarkMode').click(mostrarButtonDarkMode);
                $('#buttonLightMode').click(ocultarButtonLightMode);

                //Função Mostrar Botão Dark e Aplicar a Classe
                function mostrarButtonDarkMode() {
                    $('#buttonDarkMode').toggle();
                    $('#buttonLightMode').toggle();
                    $('body').addClass('dark-mode');
                }

                //Função Ocultar Botão Light e Remover a Classe
                function ocultarButtonLightMode() {
                    $('#buttonDarkMode').toggle();
                    $('#buttonLightMode').toggle();
                    $('body').removeClass('dark-mode');
                }

            </script>

            @await RenderSectionAsync("Scripts", required: false)

        </div>

    </body>
</html>
