@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <!--Obtem o usuário logado e valida o TipoUsuario-->
    var tipoUsuario = User.GetUserId();

    <!--Se o TipoUsuario for igual a true então exibe a Tela de Prestador Se Não, exibe como Consumidor-->
    @if (tipoUsuario == "True")
    {
        var nomePrestador = User.GetPrestadorNome();

        <body class="hold-transition sidebar-collapse layout-navbar-fixed layout-fixed">

            <!-- Acesso ao Sys Prestador-->
            <div class="wrapper">

                <!-- Barra de navegação Sup horizontal a esquerda -->
                <nav class="main-header navbar navbar-expand navbar-teal border-0 navbar-light elevation-1">

                    <!-- Home, Prestador e Privacy -->
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Agendamento" asp-action="PrestadorAgendamento">Serviços Agendados</a>
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
                        </li>

                    </ul>

                    <!-- Barra de navegação Sup horizontal a direita -->
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-dark">@nomePrestador</a>
                        </li>

                        <!-- Dark Mode-->
                        <li class="nav-item">

                            <a id="buttonDarkMode" class="nav-link" href="#" role="button">
                                <i class="fas fa-moon" title="Dark Mode" aria-hidden="true"></i>
                            </a>

                            <a id="buttonLightMode" style="display:none" class="nav-link" href="#" role="button">
                                <i class="fas fa-sun" title="Light Mode" aria-hidden="true"></i>
                            </a>

                        </li>

                        <!-- Menu de Conta do usuário -->
                        <li class="nav-item dropdown user-menu">

                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">

                                <!-- Imagem de login padrão -->
                                <img src="~/lib/image/user_accept.png"
                             class="user-image img-circle elevation-2"
                             alt="User Image"
                             aria-hidden="true">
                            </a>

                            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                <!-- Imagem de login padrão -->
                                <li class="user-header">

                                    <img src="~/lib/image/user_accept.png" class="img-circle elevation-2" alt="User Image">
                                    <p><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar sua Conta">Olá @User.Identity?.Name!</a></p>

                                </li>

                                <!-- Corpo do Menu de Conta do usuário -->
                                <li class="user-body">

                                    <div class="row">

                                        <div class="col-auto text-center">
                                            <p>Não deixe de Completar seu Cadastro.</p>
                                        </div>

                                        @*<div class="col-4 text-center">
                                            <a href="#">Seguidores</a>
                                        </div>

                                        <div class="col-4 text-center">
                                            <a href="#">Vendas</a>
                                        </div>

                                        <div class="col-4 text-center">
                                            <a href="#">Amigos</a>
                                        </div>*@

                                    </div>

                                </li>

                                <!-- Rodapé do Menu de Conta do usuário-->
                                <li class="user-footer">

                                    <!--Gerenciar a Conta do Usuário-->
                                    <a class="btn btn-primary btn-flat" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar sua Conta">Conta</a>

                                    <!--Exibe a tela de Logout-->
                                    @*<a class="btn btn-primary btn-flat float-right" asp-area="Identity" asp-page="/Account/Logout" title="Logout">Sair</a>*@

                                    <!--Logout direto redireciona para o Home-->
                                    <form class="form-inline float-right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="btn btn-default btn-flat" title="Logout">Sair</button>
                                    </form>

                                </li>

                            </ul>

                        </li>

                    </ul>

                </nav>

                <!-- Menu hamburguer a esquerda -->
                <aside class="main-sidebar sidebar-light-teal elevation-2">

                    <a href="@Url.Action("Index","Home")" class="brand-link" title="Ir para Home">

                        <!--Logo IPet-->
                        <img src="~/lib/image/iPet_Logo-removebg.png" alt="IPet" width="60">

                        <span class="brand-text font-weight-light">

                            <i class="text-yellow" translate="no">i</i>
                            <i class="text-blue" translate="no">Pet's</i>

                        </span>

                    </a>

                    <!-- Itens do Menu -->
                    <div class="sidebar">

                        <nav class="mt-5">

                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                                <!-- Home -->
                                <li class="nav-item">

                                    <a href="@Url.Action("Index","Home")" class="nav-link">
                                        <!--<i class="nav-icon fas fa-home"></i>-->
                                        <p>Home</p>
                                    </a>

                                </li>

                                <!-- iPet's Prestador - Lista de Páginas -->
                                <li class="nav-item">

                                    <a href="#" class="nav-link text-dark active">
                                        <!--<i class="nav-icon fas fa-tools"></i>-->
                                        <p>
                                            iPet's Prestador
                                            <i class="right fas fa-angle-left"></i>
                                        </p>

                                    </a>                                    

                                    <!-- Árvore -->
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">

                                            <a href="@Url.Action("PrestadorAgendamento", "Agendamento")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Serviços Agendados</p>
                                            </a>

                                        </li>

                                        <!-- Adicionar demais itens da árvore aqui-->

                                    </ul>

                                </li>

                                <!-- Gerenciar Conta -->
                                <li class="nav-item">

                                    <a class="nav-link"
                               asp-area="Identity"
                               asp-page="/Account/Manage/Index"
                               title="Gerenciar sua Conta">
                                        <!--<i class="nav-icon fas fa-address-card"></i>-->
                                        <p>Gerenciar sua Conta</p>
                                    </a>

                                </li>

                                <!-- Privacy -->
                                <li class="nav-item">

                                    <a href="@Url.Action("Privacy", "Home")" class="nav-link">
                                        <!--<i class="nav-icon fas fa-folder"></i>-->
                                        <p>Política de Privacidade</p>
                                    </a>

                                </li>



                            </ul>

                            <br />
                            <hr />
                            <!--Logout direto redireciona para o Home-->
                            <form class="form-inline float-right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn btn-default btn-flat" title="Logout">Sair</button>
                            </form>

                        </nav>

                    </div>

                </aside>

                <!-- SCRIPTS NECESSÁRIOS -->
                <!-- jQuery -->
                <script src="~/lib/jquery/dist/jquery.min.js"></script>

                <!-- jQuery UI 1.11.4 -->
                <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

                <!-- Bootstrap -->
                <script src="~/lib/bootstrap-4/js/bootstrap.js"></script>
                @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

                <!-- DataTables -->
                <script src="~/lib/datatables/jquery.dataTables.js"></script>
                <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>
                <script src="~/lib/datatables-responsive/js/dataTables.responsive.js"></script>
                <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.js"></script>
                <script src="~/lib/datatables-buttons/js/dataTables.buttons.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.html5.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.print.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.colVis.js"></script>

                <!-- JavaScript do Site -->
                <script src="~/js/site.js"></script>

                @*<!-- Functions -->
                <script src="~/lib/functions/js/functionsApp.js"></script>*@

                <script type="text/javascript">

                    $(function() {
                        'use strict'

                        //------------------------------------------------------------------
                        // Exibir Ocultar Senha
                        //------------------------------------------------------------------
                        var exibirSenha = $('#exibirSenha');

                        $("#olhoAberto").click(mostrarOlhoAberto);
                        $("#olhoFechado").click(mostrarOlhoFechado);

                        function mostrarOlhoAberto() {
                            $("#olhoAberto").toggle();
                            $("#olhoFechado").toggle();
                            exibirSenha.attr("type", "text");
                        }

                        function mostrarOlhoFechado() {
                            $("#olhoAberto").toggle();
                            $("#olhoFechado").toggle();
                            exibirSenha.attr("type", "password");
                        }


                        //------------------------------------------------------------------
                        // Bloqueio de duplo click no Login
                        //------------------------------------------------------------------
                        $('#buttonConectarVisible').click(mostrarOcultarButtonLogin);
                        $('#loginGoogleVisible').click(mostrarOcultarButtonLogin);

                        //Função mostrarButtonConectar
                        function mostrarOcultarButtonLogin() {
                            $('#buttonConectarDisabled').toggle();
                            $('#buttonConectarVisible').toggle();
                            $('#loginGoogleDisabled').toggle();
                            $('#loginGoogleVisible').toggle();
                            mostrarOlhoFechado();
                        }


                        //------------------------------------------------------------------
                        // Função CapsLock
                        //------------------------------------------------------------------
                        $('#exibirSenha').keypress(function(event) {
                            var Strg = String.fromCharCode(event.which);
                            if (Strg.toUpperCase() === Strg && Strg.toLowerCase() !== Strg && !event.shiftKey) {
                                alert('Caps Lock ativada');
                                //$('#msnCapsLock').toggle();
                            }
                        });

                        //----------------------------------------------------------------------
                        //-- Função Exibir Modal -----------------------------------------------
                        //----------------------------------------------------------------------
                        $('button[data-toggle="ajax-modal"]').click(function(event) {

                            var url = $(this).data('url');

                            $("#conteudoModal").load(url,
                                function() {

                                    $('#modalIncluirPrestador').modal('show');
                                    $('#modalIncluirCliente').modal('show');
                                    $('#modalIncluirPet').modal('show');
                                    $('#modalCadastroPet').modal('show');
                                    $('#modalIncluirAgendamento').modal('show');
                                }
                            );
                        });

                        //------------------------------------------------------------------
                        // Dark Mode
                        //------------------------------------------------------------------
                        //Mostrar Ocultar Botão click
                        $('#buttonDarkMode').click(mostrarButtonDarkMode);
                        $('#buttonLightMode').click(ocultarButtonLightMode);

                        //Função Mostrar Botão Dark e Aplicar a Classe
                        function mostrarButtonDarkMode() {
                            $('#buttonDarkMode').toggle();
                            $('#buttonLightMode').toggle();
                            $('body').addClass('dark-mode');
                        }

                        //Função Ocultar Botão Light e Remover a Classe
                        function ocultarButtonLightMode() {
                            $('#buttonDarkMode').toggle();
                            $('#buttonLightMode').toggle();
                            $('body').removeClass('dark-mode');
                        }

                        //------------------------------------------------------------------
                        // Data Table - Responsável pelos botões de Exportação da Tabela PrestadorAgendamento
                        //------------------------------------------------------------------
                        $("#prestadorAgendamento").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            "responsive": true,
                            "buttons": ["print"]
                        }).buttons().container().appendTo('#prestadorAgendamento_wrapper .col-md-6:eq(0)');

                    });

                </script>

            </div>

        </body>
    }
    else
    {
        <!--Se chegamos até aqui, então o TipoUsuario é Consumidor-->
        var nomeCliente = User.GetClienteNome();

        <body class="hold-transition sidebar-collapse layout-navbar-fixed layout-fixed">

            <!-- Acesso ao Sys Consumidor-->
            <div class="wrapper">

                <!-- Barra de navegação Sup horizontal a esquerda -->
                <nav class="main-header navbar navbar-expand navbar-cyan border-0 navbar-light elevation-1">

                    <!-- Home, Prestador e Privacy -->
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link text-light" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-light" asp-area="" asp-controller="Agendamento" asp-action="Index">Agendamento</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-light" asp-area="" asp-controller="Estabelecimentos" asp-action="Index">Estabelecimentos</a>
                        </li>
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
                        </li>

                    </ul>

                    <!-- Barra de navegação Sup horizontal a direita -->
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link text-light">@nomeCliente</a>
                        </li>

                        <!-- Dark Mode-->
                        <li class="nav-item">

                            <a id="buttonDarkMode" class="nav-link text-light" href="#" role="button">
                                <i class="fas fa-moon" title="Dark Mode" aria-hidden="true"></i>
                            </a>

                            <a id="buttonLightMode" style="display:none" class="nav-link text-light" href="#" role="button">
                                <i class="fas fa-sun" title="Light Mode" aria-hidden="true"></i>
                            </a>

                        </li>

                        <!-- Menu de Conta do usuário -->
                        <li class="nav-item dropdown user-menu">

                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">

                                <!-- Imagem de login padrão -->
                                <img src="~/lib/image/user_accept.png"
                                 class="user-image img-circle elevation-2"
                                 alt="User Image"
                                 aria-hidden="true">
                            </a>

                            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                                <!-- Imagem de login padrão -->
                                <li class="user-header">

                                    <img src="~/lib/image/user_accept.png" class="img-circle elevation-2" alt="User Image">
                                    <p><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar sua Conta">Olá @User.Identity?.Name!</a></p>

                                </li>

                                <!-- Corpo do Menu de Conta do usuário -->
                                <li class="user-body">

                                    <div class="row">

                                        <div class="col-auto text-center">
                                            <p>Não deixe de Completar seu Cadastro.</p>
                                        </div>

                                        @*<div class="col-4 text-center">
                                            <a href="#">Seguidores</a>
                                        </div>

                                        <div class="col-4 text-center">
                                            <a href="#">Vendas</a>
                                        </div>

                                        <div class="col-4 text-center">
                                            <a href="#">Amigos</a>
                                        </div>*@

                                    </div>

                                </li>

                                <!-- Rodapé do Menu de Conta do usuário-->
                                <li class="user-footer">

                                    <!--Gerenciar a Conta do Usuário-->
                                    <a class="btn btn-primary btn-flat" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar sua Conta">Conta</a>

                                    <!--Exibe a tela de Logout-->
                                    @*<a class="btn btn-primary btn-flat float-right" asp-area="Identity" asp-page="/Account/Logout" title="Logout">Sair</a>*@

                                    <!--Logout direto redireciona para o Home-->
                                    <form class="form-inline float-right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="btn btn-default btn-flat" title="Logout">Sair</button>
                                    </form>

                                </li>

                            </ul>

                        </li>

                    </ul>

                </nav>

                <!-- Menu hamburguer a esquerda -->
                <aside class="main-sidebar sidebar-light-cyan elevation-2">

                    <a href="@Url.Action("Index","Home")" class="brand-link" title="Ir para Home">

                        <!--Logo IPet-->
                        <img src="~/lib/image/iPet_Logo-removebg.png" alt="IPet" width="60">

                        <span class="brand-text font-weight-light">

                            <i class="text-yellow" translate="no">i</i>
                            <i class="text-blue" translate="no">Pet's</i>

                        </span>

                    </a>

                    <!-- Itens do Menu -->
                    <div class="sidebar">

                        <nav class="mt-5">

                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                                <!-- Home -->
                                <li class="nav-item">

                                    <a href="@Url.Action("Index","Home")" class="nav-link">
                                        <!--<i class="nav-icon fas fa-home"></i>-->
                                        <p>Home</p>
                                    </a>

                                </li>

                                <!-- iPet's Consumidor - Lista de Páginas -->
                                <li class="nav-item">

                                    <a href="#" class="nav-link active">
                                        <!--<i class="nav-icon fas fa-tools"></i>-->
                                        <p>
                                            iPet's Consumidor
                                            <i class="right fas fa-angle-left"></i>
                                        </p>

                                    </a>

                                    <!-- Árvore -->
                                    <ul class="nav nav-treeview">

                                        <li class="nav-item">

                                            <a href="@Url.Action("Index", "Agendamento")" class="nav-link">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Agendamento</p>
                                            </a>

                                        </li>

                                        <!-- Adicionar demais itens da árvore aqui-->

                                    </ul>

                                </li>

                                <!-- Gerenciar Conta -->
                                <li class="nav-item">

                                    <a class="nav-link"
                               asp-area="Identity"
                               asp-page="/Account/Manage/Index"
                               title="Gerenciar sua Conta">
                                        <!--<i class="nav-icon fas fa-address-card"></i>-->
                                        <p>Gerenciar sua Conta</p>
                                    </a>

                                </li>

                                <!-- Privacy -->
                                <li class="nav-item">

                                    <a href="@Url.Action("Privacy", "Home")" class="nav-link">
                                        <!--<i class="nav-icon fas fa-folder"></i>-->
                                        <p>Política de Privacidade</p>
                                    </a>

                                </li>



                            </ul>

                            <br />
                            <hr />
                            <!--Logout direto redireciona para o Home-->
                            <form class="form-inline float-right" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn btn-default btn-flat" title="Logout">Sair</button>
                            </form>

                        </nav>

                    </div>

                </aside>

                <!-- SCRIPTS NECESSÁRIOS -->
                <!-- jQuery -->
                <script src="~/lib/jquery/dist/jquery.min.js"></script>

                <!-- jQuery UI 1.11.4 -->
                <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

                <!-- Bootstrap -->
                <script src="~/lib/bootstrap-4/js/bootstrap.js"></script>
                @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

                <!-- DataTables -->
                <script src="~/lib/datatables/jquery.dataTables.js"></script>
                <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.js"></script>
                <script src="~/lib/datatables-responsive/js/dataTables.responsive.js"></script>
                <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.js"></script>
                <script src="~/lib/datatables-buttons/js/dataTables.buttons.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.html5.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.print.js"></script>
                <script src="~/lib/datatables-buttons/js/buttons.colVis.js"></script>

                <!-- JavaScript do Site -->
                <script src="~/js/site.js"></script>

                @*<!-- Functions -->
                <script src="~/lib/functions/js/functionsApp.js"></script>*@

                <script type="text/javascript">

                    $(function() {
                        'use strict'

                        //------------------------------------------------------------------
                        // Exibir Ocultar Senha
                        //------------------------------------------------------------------
                        var exibirSenha = $('#exibirSenha');

                        $("#olhoAberto").click(mostrarOlhoAberto);
                        $("#olhoFechado").click(mostrarOlhoFechado);

                        function mostrarOlhoAberto() {
                            $("#olhoAberto").toggle();
                            $("#olhoFechado").toggle();
                            exibirSenha.attr("type", "text");
                        }

                        function mostrarOlhoFechado() {
                            $("#olhoAberto").toggle();
                            $("#olhoFechado").toggle();
                            exibirSenha.attr("type", "password");
                        }


                        //------------------------------------------------------------------
                        // Bloqueio de duplo click no Login
                        //------------------------------------------------------------------
                        $('#buttonConectarVisible').click(mostrarOcultarButtonLogin);
                        $('#loginGoogleVisible').click(mostrarOcultarButtonLogin);

                        //Função mostrarButtonConectar
                        function mostrarOcultarButtonLogin() {
                            $('#buttonConectarDisabled').toggle();
                            $('#buttonConectarVisible').toggle();
                            $('#loginGoogleDisabled').toggle();
                            $('#loginGoogleVisible').toggle();
                            mostrarOlhoFechado();
                        }


                        //------------------------------------------------------------------
                        // Função CapsLock
                        //------------------------------------------------------------------
                        $('#exibirSenha').keypress(function(event) {
                            var Strg = String.fromCharCode(event.which);
                            if (Strg.toUpperCase() === Strg && Strg.toLowerCase() !== Strg && !event.shiftKey) {
                                alert('Caps Lock ativada');
                                //$('#msnCapsLock').toggle();
                            }
                        });

                        //----------------------------------------------------------------------
                        //-- Função Exibir Modal -----------------------------------------------
                        //----------------------------------------------------------------------
                        $('button[data-toggle="ajax-modal"]').click(function(event) {

                            var url = $(this).data('url');

                            $("#conteudoModal").load(url,
                                function() {

                                    $('#modalIncluirPrestador').modal('show');
                                    $('#modalIncluirCliente').modal('show');
                                    $('#modalIncluirPet').modal('show');
                                    $('#modalCadastroPet').modal('show');
                                    $('#modalIncluirAgendamento').modal('show');
                                }
                            );
                        });

                        //------------------------------------------------------------------
                        // Dark Mode
                        //------------------------------------------------------------------
                        //Mostrar Ocultar Botão click
                        $('#buttonDarkMode').click(mostrarButtonDarkMode);
                        $('#buttonLightMode').click(ocultarButtonLightMode);

                        //Função Mostrar Botão Dark e Aplicar a Classe
                        function mostrarButtonDarkMode() {
                            $('#buttonDarkMode').toggle();
                            $('#buttonLightMode').toggle();
                            $('body').addClass('dark-mode');
                        }

                        //Função Ocultar Botão Light e Remover a Classe
                        function ocultarButtonLightMode() {
                            $('#buttonDarkMode').toggle();
                            $('#buttonLightMode').toggle();
                            $('body').removeClass('dark-mode');
                        }                        

                        //------------------------------------------------------------------
                        // Data Table - Responsável pelos botões de Exportação da Tabela Prestadores
                        //------------------------------------------------------------------
                        $("#prestadores").DataTable({
                            "paging": true,
                            "lengthChange": true,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            "responsive": true
                        }).buttons().container().appendTo('#prestadores_wrapper .col-md-6:eq(0)');

                        //------------------------------------------------------------------
                        // Data Table - Responsável pelos botões de Exportação da Tabela prestadorEscolhido
                        //------------------------------------------------------------------
                        $("#prestadorEscolhido").DataTable({
                            "paging": false,
                            "lengthChange": false,
                            "searching": false,
                            "ordering": false,
                            "info": false,
                            "autoWidth": false,
                            "responsive": true
                        }).buttons().container().appendTo('#prestadorEscolhido_wrapper .col-md-6:eq(0)');

                        //------------------------------------------------------------------
                        // Data Table - Responsável pelos botões de Exportação da Tabela Agendamento
                        //------------------------------------------------------------------
                        $("#agendamento").DataTable({
                            "paging": true,
                            "lengthChange": false,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            "responsive": true,
                            "buttons": ["print"]
                        }).buttons().container().appendTo('#agendamento_wrapper .col-md-6:eq(0)');

                        //------------------------------------------------------------------
                        // Data Table - Responsável pelos botões de Exportação da Tabela servicos
                        //------------------------------------------------------------------
                        $("#servicos").DataTable({
                            "paging": true,
                            "lengthChange": true,
                            "searching": true,
                            "ordering": true,
                            "info": true,
                            "autoWidth": false,
                            "responsive": true
                        }).buttons().container().appendTo('#servicos_wrapper .col-md-6:eq(0)');

                    });

                </script>

            </div>

        </body>
    }

}
else
{
    <!-- Acesso ao Portal -->
    <body class="hold-transition sidebar-collapse layout-navbar-fixed layout-fixed">

        <div class="wrapper">

            <!-- Barra de navegação Sup horizontal a esquerda -->
            <nav class="main-header navbar navbar-expand navbar-gray border-0 navbar-light elevation-1">

                <!-- Home, Prestador e Privacy -->
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link text-light" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link text-light" href="#">Blog iPet's</a>
                    </li>

                    <li class="nav-item d-none d-sm-inline-block">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
                    </li>

                </ul>

                <!-- Barra de navegação Sup horizontal a direita -->
                <ul class="navbar-nav ml-auto">

                    <!-- Registro -->
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Registrar-se</a>
                    </li>

                    <!-- Login -->
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">
                            <i class="fas fa-sign-in-alt" title="Login" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </nav>

            <!-- Menu hamburguer a esquerda -->
            <aside class="main-sidebar sidebar-light-gray elevation-2">

                <a href="@Url.Action("Index","Home")" class="brand-link" title="Ir para Home">

                    <!--Logo IPet-->
                    <img src="~/lib/image/iPet_Logo-removebg.png" alt="IPet" width="60">

                    <span class="brand-text font-weight-light">

                        <i class="text-yellow" translate="no">i</i>
                        <i class="text-blue" translate="no">Pet's</i>

                    </span>

                </a>

                <!-- Itens do Menu -->
                <div class="sidebar">

                    <nav class="mt-5">

                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                            <!-- Home -->
                            <li class="nav-item">

                                <a href="@Url.Action("Index","Home")" class="nav-link">
                                    <!--<i class="nav-icon fas fa-home"></i>-->
                                    <p>Home</p>
                                </a>

                            </li>

                            <!-- iPet's Business - Lista de Páginas -->
                            <li class="nav-item">

                                <a href="#" class="nav-link active">
                                    <!--<i class="nav-icon fas fa-tools"></i>-->
                                    <p>
                                        iPet's Portal
                                        <i class="right fas fa-angle-left"></i>
                                    </p>

                                </a>

                                <!-- Árvore -->
                                <ul class="nav nav-treeview">

                                    <li class="nav-item">

                                        <a href="" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Blog iPet's</p>
                                        </a>

                                    </li>

                                    <!-- Adicionar demais itens da árvore aqui-->

                                </ul>

                            </li>

                            <!-- Privacy -->
                            <li class="nav-item">

                                <a href="@Url.Action("Privacy", "Home")" class="nav-link">
                                    <!--<i class="nav-icon fas fa-folder"></i>-->
                                    <p>Política de Privacidade</p>
                                </a>

                            </li>

                            <!-- Registro -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registrar-se</a>
                            </li>

                            <!-- Login -->
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                                    <p>Login</p>
                                </a>
                            </li>

                        </ul>

                    </nav>

                </div>

            </aside>

            <!-- SCRIPTS NECESSÁRIOS -->
            <!-- jQuery -->
            <script src="~/lib/jquery/dist/jquery.min.js"></script>

            <!-- jQuery UI 1.11.4 -->
            <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>

            <!-- Bootstrap -->
            <script src="~/lib/bootstrap-4/js/bootstrap.js"></script>
            @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

            <!-- JavaScript do Site -->
            <script src="~/js/site.js"></script>

        </div>

    </body>

}